{
    "env": {
        "browser": true,
        "node": true
    },
    "extends": "airbnb",
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "indent": [2, 4, { "SwitchCase": 1 }],
        "max-len": [1, 120],
        "new-cap": 0,
        "no-console": 0,
        "no-multi-spaces": ["error", {
            "exceptions": {
                "Property": true,
                "VariableDeclarator": true
            }
        }],
        "no-use-before-define": 0,
        "react/jsx-curly-spacing": 0,
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
    }
}
